@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Cairo', sans-serif;
}

.rtl {
  direction: rtl;
}

.hero{
    background-image: url('../views/images/index-demo-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 73vh;
}
/*lets make base btn 

*/

.sidebar.active{
    right: 0px;
}


@keyframes slideIn {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
  }
}

