@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Cairo', sans-serif;
}

.rtl {
  direction: rtl;
}

.hero{
    background-image: url('../views/images/index-demo-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 73vh;
}

.hero-2{
    background-image: url('../views/images/987256.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 78vh;
}

.hero-3{
  background-image: url('../views/images/pexels-fox-1595385.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 78vh;
}


.hero-4{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 78vh;
}
/*lets make base btn 

*/
/* Define the keyframe as slideIn */
@keyframes slideIn {
  to {
    right: 0;
  }
}

.btn-active{
  background-color: #10B981;
}

/* Apply the animation to .sidebar.active */
.sidebar.active {
  animation: slideIn .5s  forwards;
}


